@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Fugaz+One&family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:wght@500&family=Poppins:wght@100;200;300;400;500&family=Rokkitt:wght@100;200;300;400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Fugaz+One&family=Josefin+Slab:wght@100;200;300;400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:wght@500&family=Poppins:wght@100;200;300;400;500&family=Rokkitt:wght@100;200;300;400;500&display=swap);
.info-home button,
body {
  background-color: #4d4d4d2c;
}

#frente,
* {
  color: #000;
}

*,
.datos {
  font-family: "Josefin Slab", serif;
}

.code-loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 100px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.code-loader span {
  display: inline-block;
  animation: pulse_414 0.4s alternate infinite ease-in-out;
}

.code-loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes desaparecer {
  
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }

}

@keyframes aparecer {
  from {
    opacity: 0.3;
    display: none;
  }
  to {
      opacity: 1;
      display: block;
    }
}

@keyframes pulse_414 {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

.btn_mi,
.cont-colores,
.foto {
  text-align: center;
}

.info-home button,
form button,
section {
  box-sizing: content-box;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rokkitt, serif;
}

.tema-color {
  z-index: 99;
  background-color: transparent;
  margin: 80px 20px 200px;
}

.cont-colores {
  width: 100px;
  padding: 20px 0;
  background: 0 0;
  position: absolute;
  right: -130px;
  top: 140px;
  transition: 1s;
}

.cont-colores.active {
  right: -15px;
}

.open-panel {
  border-radius: 50px;
  color: #fff;
  transform: rotate(-90deg);
  position: relative;
  transition: 1s;
  border: none;
}

#frente,
.forma {
  position: absolute;
}

.cont-colores button {
  width: 30px;
  height: 30px;
  display: block;
  color: transparent;
  border-radius: 40px;
  margin: 10px auto;
  border: 3px solid #000;
  transition: 0.5s;
}

.cont-colores button:hover {
  transform: translateX(5px);
  transition: 0.5s;
}

.cont-colores button:first-child {
  background: #191c20;
}

.cont-colores button:nth-child(2) {
  background: #eee;
}

.dropdown-menu {
  background-color: #191c2079;
  font-size: 15px;
}

.dropdown-item {
  color: #fff;
}

.forma {
  margin-top: -100px;
  margin-left: 0;
  height: 950px;
}

.fila_home,
.foto,
.info-home,
section {
  height: 100%;
}

section {
  margin: 80px auto 0;
  width: 100%;
}

.div_foto,
.info {
  display: flex;
  justify-content: center;
}

.foto {
  width: 75%;
  max-width: 100%;
}

.info-home {
  align-items: center;
  margin-left: 0;
  padding-top: 120px;
  padding-right: 60px;
  padding-left: 0;
}

.info-home h1 {
  font-size: 70px;
  font-weight: 400;
  color: #ffb404;
}

.info-home h2 {
  font-size: 70px;
  font-weight: 200;
  margin-top: -20px;
}

.info-home p {
  font-size: 25px;
  margin-top: 40px;
}
a {
  text-decoration: none;
}

.info-home a {
  display: inline-block;
}

.info-home button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 50px;
  border: #191c20 solid 0.15em;
  border-radius: 0.75em;
  color: #191c20;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  margin-top: 30px;
}

.info-home button p {
  z-index: 1;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 0.75em;
}

.info-home button p:hover {
  color: white;
}

.info-home button:hover {
  color: white;
}

.info-home button:active {
  border-color: #191c20;
}

.info-home button::after, .info-home button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #191c20;
  opacity: 80%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.info-home button::before {
  left: 0;
  transform: translateX(-8em);
}

.info-home button::after {
  right: 0;
  transform: translateX(8em);
}

.info-home button:hover:before {
  transform: translateX(-1em);
}

.info-home button:hover:after {
  transform: translateX(1em);
}

.tema {
  margin: 0 20px 250px;
}

.btn_medios {
  display: block;
  margin: 20px;
}

.botones {
  position: fixed;
  margin-left: 93%;
  width: 5%;
  border: none;
  z-index: 1000;
}

.titulos {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 200px;
}

#fondo {
  font-size: 120px;
  color: #a8a8a834;
  user-select: none;
}

#frente {
  font-size: 60px;
  line-height: 0;
  margin-top: 29px;
}

.info_per {
  margin-left: 130px;
  margin-top: -70px;
  width: 80%;
  padding-bottom: 50px;
  border-bottom: 1px solid #292929;
}

.info_per .txt {
  font-size: 22px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #191c20;
}

.datos {
  margin-top: 40px;
  font-size: 23px;
  font-weight: 600;
}

.copy,
.navbar-brand,
.soporte p,
form button:hover,
form input {
  font-weight: 800;
}

.datos h4 {
  font-size: 24px;
  color: #6b6b6b;
}

form button:hover {
  background-color: #ffb404;
  color: #000;
}

a {
  display: inline-block;
}

.btn-estilizado {
  all: unset;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 30px;
  align-items: center;
  position: relative;
  padding: 15px 50px;
  border: #191c20 solid 0.15em;
  border-radius: 0.75em;
  color: #191c20;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  margin-top: 30px;
}

.btn-estilizado p {
  z-index: 1;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 800;
}

.btn-estilizado:hover p{
  color: white;
}

.btn-estilizado:active {
  border-color: #191c20;
}

.btn-estilizado::after, .btn-estilizado::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: #191c20;
  opacity: 80%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.btn-estilizado::before {
  left: 0;
  transform: translateX(-8em);
}

.btn-estilizado::after {
  right: 0;
  transform: translateX(8em);
}

.btn-estilizado:hover:before {
  transform: translateX(-1em);
}

.btn-estilizado:hover:after {
  transform: translateX(1em);
}

.estudios,
.exp_laboral,
.perfil {
  margin-left: 130px;
  margin-top: 25px;
  text-align: left;
  border-bottom: 1px solid #191c20;
  font-size: 22px;
}

.perfil {
  align-items: center;
  width: 80%;
}

.perfil h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.perfil img {
  margin: 0 auto 0 50px;
  height: auto;
  width: auto;
  max-height: 400px;
}

.txt {
  border: 1px solid #191c20;
  padding: 5px 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estudios,
.exp_laboral {
  align-items: center;
  width: 85%;
}

.estudios h3,
.exp_laboral h3 {
  margin-top: 30px;
  text-align: center;
}

.fecha,
.fecha_estudio {
  background: #4d4d4d78;
  border-radius: 5px;
  width: 11%;
}

.contacto,
.habilidades,
.portafolio {
  text-align: center;
  width: 85%;
  font-size: 22px;
}

.estudio,
.nombre_titulo {
  font-weight: 800;
  padding: 0;
  margin: 20px 0 10px;
}

.desc_estudio,
.desc_titulo {
  padding: 0;
  margin: 5px 0;
}

.item {
  margin-top: 40px;
}

.habilidades {
  margin-left: 130px;
  margin-top: 25px;
  align-items: center;
}

.copy,
.nombre {
  display: flex;
  align-items: center;
  color: #fff;
}

.habilidades h3 {
  margin-bottom: 50px;
  margin-top: 35px;
}

.habilidades h4 {
  margin-top: 35px;
  font-size: 30px;
}

footer {
  height: 160px;
  background-color: #4d4d4d;
  border-top: 1px solid #000;
  font-size: 18px;
  width: 100%;
}

.nombre {
  border-right: 1px solid #fff;
  height: 120px;
  margin-top: 25px;
  justify-content: center;
}

.copy {
  height: 160px;
  justify-content: left;
  padding-left: 50px;
}

.soporte {
  height: 160px;
  display: grid;
}

.soporte p {
  color: #fff;
}

.container_btns {
  padding: 0;
  margin-top: 35px;
}

.linea1,
.linea2 {
  padding: 20px;
}

.btn_footer {
  margin: 15px 15px 0 0;
  display: inline;
}

.contacto,
.portafolio {
  margin-left: 130px;
  margin-top: -20px;
  align-items: center;
}

.linea2 {
  margin-top: 15px;
}

.portafolio p,
.txt_info {
  text-align: left;
}

.filas_info {
  padding: 5px 0;
  margin-top: 30px;
}

.correo,
.nombre_form {
  height: 45px;
  padding: 15px;
}

.redes {
  margin-top: 20px;
  display: flex;
  margin-left: -15px;
  justify-content: space-around;
}

.redes img {
  height: 60px;
  margin-left: 25px;
  margin-right: 45px;
}

form input {
  color: #fff;
  background-color: #6b6b6b65;
  border-radius: 25px;
  border: 1px solid #6b6b6b;
  display: flex;
  font-size: 17px;
}

.nombre_form {
  width: 40%;
  margin-top: 50px;
}

.correo,
.mensaje {
  width: 80%;
  margin-top: 40px;
}

.mensaje {
  height: 180px;
  padding: 15px 15px 120px;
}

form button {
  background-color: #191c20;
  border: 2px solid #6b6b6b;
  display: block;
  border-radius: 50px;
  color: #fff;
  margin-top: 35px;
  padding: 8px 50px;
  font-size: 20px;
}

form button:hover {
  border: 2px solid #191c20;
}

.e-correo,
.e-general,
.e-msg,
.e-nombre {
  display: none;
  color: red;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}

.navbar-brand {
  font-size: 20px;
  color: #ffb404;
}

.nav-link {
  font-size: 18px;
}

.active {
  color: #ffb404 !important;
  font-weight: 700 !important;
}

.v_cod,
.v_pro {
  color: #000;
  font-weight: 900;
  font-size: 20px;
}

.linea1 .fila {
  margin-top: 50px;
  background-color: #393e46;
  border-radius: 45px;
  padding: 30px;
}

.linea1 .fila:hover {
  background-color: #393e46f7;
}

.linea1 .fila:last-child {
  margin-bottom: 30px;
}

.v_pro {
  border-radius: 10px;
  background: #ffb404;
  padding: 3px 30px;
  border: 1px solid #ffb404;
  margin-left: 50%;
  margin-top: 20px;
}

.v_cod {
  border-radius: 10px;
  background: #e0e0e0;
  padding: 3px 40px;
  border: none;
}

.fila div img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 14px 25px -22px rgba(255,255,255,1);
  -moz-box-shadow: 0px 14px 25px -22px rgba(255,255,255,1);
  box-shadow: 0px 14px 25px -22px rgba(255,255,255,1);
}

@media screen and (max-width: 480px) {
  .info-home h1,
  .info-home h2 {
    font-size: 35px;
    text-align: center;
  }
  
  .botones {
    display: none;
  }
  
  .info-home {
    padding: 20px;
    text-align: center;
  }
  
  .info-home h2 {
    margin-top: 3px;
  }
  
  .info-home p {
    font-size: 20px;
    text-align: justify;
  }
  
  .info-home button {
    font-size: 20px;
    margin-top: 15px;
    height: auto;
    margin-bottom: 20px;
  }
  
}

@media screen and (min-width: 481px) and (max-width: 1199px) {
  .info-home h1,
  .info-home h2 {
    font-size: 45px;
    text-align: center;
  }
  
  .botones {
    display: none;
  }
  
  .foto {
    height: 100%;
    width: 40%;
  }
  
  .info-home {
    padding: 20px 40px;
    text-align: center;
  }
  
  .info-home h2 {
    margin-top: 3px;
  }
  
  .info-home p {
    font-size: 23px;
    text-align: justify;
  }
  
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .navbar {
    display: none;
  }
  
  .fila_home {
    height: 100%;
  }
  
  .info-home {
    padding-top: 0;
  }
  
  .foto {
    width: 85%;
    height: 80%;
  }
  
}

@media screen and (min-width: 1351px) and (max-width: 1400px) {
  .navbar {
    display: none;
  }
  
  .foto {
    width: 85%;
    height: 80%;
    max-width: 85%;
    max-height: 90%;
  }
  
}

@media screen and (min-width: 1401px) and (max-width: 1600px) {
  .navbar {
    display: none;
  }
  
  .foto {
    width: 80%;
    height: 90%;
  }
  
}

@media screen and (min-width: 1601px) {
  .navbar {
    display: none;
  }
  
}

@media screen and (max-width: 425px) {
  .botones,
  .copy,
  .ctn-linea,
  .estudios img {
    display: none;
  }
  
  .titulos {
    margin-top: 30px;
    width: 100%;
  }
  
  #fondo {
    font-size: 4em;
  }
  
  #frente {
    font-size: 2.3em;
    margin-top: 10px;
  }
  
  .info_per {
    margin-left: 18px;
    margin-top: -120px;
    padding: 15px 15px 50px;
  }
  
  .info_per h3 {
    font-size: 20px;
  }
  
  .info_per .txt {
    font-size: 15px;
  }
  
  .info_per h4,
  p {
    font-size: 16px;
  }
  
  .info_per button {
    margin: 0;
    font-size: 12px;
    padding: 15px;
  }
  
  .perfil {
    margin-left: 18px;
    padding: 15px 15px 10px;
    margin-top: -10px;
  }
  
  .txt {
    padding: 10px;
  }
  
  .perfil img {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  
  .estudios,
  .exp_laboral,
  .habilidades {
    margin-left: 18px;
    padding: 15px;
    font-size: 16px;
  }
  
  .estudios h3,
  .exp_laboral h3 {
    text-align: left;
    margin-top: -10px;
  }
  
  .fecha,
  .fecha_estudio {
    width: 60px;
  }
  
  .estudios > .container-fluid > .row > .col-12 > .row {
    border-bottom: 1px solid #292929;
  }
  
  .estudios > .container-fluid > .row:last-child > .col-12 > .row {
    border-bottom: none;
  }
  
  .habilidades h3 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .habilidades img {
    height: 180px;
    margin-top: 20px;
  }
  
  footer {
    font-size: 12px;
  }
  
  .nombre {
    font-size: 15px;
    padding: 15px;
  }
  
  .soporte p {
    font-size: 14px;
    margin-left: -3px;
    margin-bottom: 0;
  }
  
  .container_btns {
    margin: 0;
    padding: 10px;
  }
  
  .container_btns img {
    margin-right: 0;
  }
  
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .titulos {
    margin-top: 80px;
    width: 100%;
  }
  
  .botones,
  .copy,
  .ctn-linea {
    display: none;
  }
  
  #fondo {
    font-size: 5.4em;
  }
  
  .info_per {
    margin-left: 60px;
  }
  
  .info_per h3 {
    font-size: 2.1em;
  }
  
  .info_per button {
    margin: 0;
    font-size: 1em;
    padding: 15px;
  }
  
  .exp_laboral h3,
  .perfil h3 {
    font-size: 1.5em;
  }
  
  .perfil {
    padding-bottom: 10px;
  }
  
  .txt {
    padding: 10px;
  }
  
  .perfil img {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .estudios h3,
  .exp_laboral h3 {
    text-align: left;
    margin-top: -10px;
  }
  
  .estudios,
  .exp_laboral,
  .habilidades,
  .perfil {
    margin-left: 40px;
  }
  
  .estudios h3 {
    font-size: 1.6em;
  }
  
  .item {
    padding-left: 20px;
  }
  
  .fecha,
  .fecha_estudio {
    width: 70px;
  }
  
  .habilidades h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.6em;
  }
  
  .habilidades img {
    height: 210px;
    margin-top: 40px;
  }
  
  .container_btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
  }
  
  .btn_footer {
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .soporte p {
    font-size: 15px;
    margin-left: 10%;
    margin-bottom: 0;
  }
  
}

@media screen and (min-width: 768px) {
  .info_per,
  .perfil {
    margin-left: 10%;
  }
  
  .titulos {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .info_per button {
    margin: 15px 0 0;
    font-size: 1em;
    padding: 15px;
  }
  
  .perfil {
    padding-bottom: 40px;
    text-align: center;
  }
  
  .perfil img {
    margin-left: 0;
    margin-top: 5%;
    width: 80%;
    margin-bottom: 5%;
  }
  
  .estudios,
  .exp_laboral,
  .habilidades {
    margin-left: 80px;
  }
  
  .fecha,
  .fecha_estudio {
    width: 70px;
  }
  
  .habilidades .row {
    display: flex;
    justify-content: space-between;
  }
  
  .habilidades img {
    width: 100%;
    margin-top: 45px;
  }
  
  .perfil h3 {
    font-size: 1.6em;
  }
  
  .info_per h3 {
    font-size: 2.3em;
  }
  
  .exp_laboral h3 {
    margin-top: -10px;
    font-size: 1.7em;
  }
  
  .estudios h3 {
    margin-top: -10px;
    font-size: 1.8em;
  }
  
  .habilidades h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.9em;
  }
  
}

@media screen and (max-width: 425px) {
  #fondo {
    font-size: 3em;
  }
  
  #frente {
    font-size: 1.8em;
  }
  
  .portafolio {
    margin-left: 4%;
    margin-top: -70px;
  }
  
  .portafolio h3 {
    color: #fff;
    font-size: 23px;
    margin-top: 15px;
  }
  
  .portafolio p {
    color: #ededed;
    font-weight: 600;
    text-align: justify;
  }
  
  .linea1 {
    padding: 0;
    margin-top: -160px;
  }
  
  .linea2 {
    padding: 0;
    margin-top: 0;
  }
  
  .v_cod,
  .v_pro {
    font-size: 16px;
    padding: 2vw 4vw;
  }
  
  .portafolio img {
    height: 39vw;
    margin-top: 15px;
  }
  
  .linea1 .fila {
    margin-top: 40px;
    padding: 15px;
  }
  
  .v_pro {
    margin: 3px 0;
  }
  
  .v_cod {
    margin-left: 4vw;
  }
  
  .contacto {
    margin-left: 10%;
    margin-top: -100px;
  }
  
  .contacto p {
    text-align: left;
    font-size: 0.7em;
  }
  
  .contacto h4 {
    font-size: 0.9em;
  }
  
  .filas_info {
    margin-top: 10px;
  }
  
  .correo,
  .mensaje {
    margin-top: 15px;
    width: 90%;
    font-size: 17px;
  }
  
  .filas_info img {
    height: 35px;
    margin-top: 8px;
  }
  
  .redes img {
    height: 40px;
    margin-left: 0;
    margin-right: 10%;
  }
  
  .nombre_form {
    height: 40px;
    width: 90%;
    font-size: 17px;
  }
  
  .nombre_form::placeholder {
    font-size: 14px;
  }
  
  .correo:focus,
  .mensaje:focus,
  .nombre_form:focus {
    outline: #000000 solid 1px;
  }
  
  .correo {
    height: 40px;
  }
  
  .correo::placeholder {
    font-size: 14px;
  }
  
  .mensaje {
    height: 80px;
    border-radius: 15px;
  }
  
  .mensaje::placeholder {
    font-size: 14px;
  }
  
  form input {
    font-size: 12px;
  }
  
  form button {
    margin-top: 25px;
    padding: 10px 15px;
    font-size: 15px;
  }
  
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .titulos {
    margin-top: 70px;
  }
  
  #fondo {
    font-size: 4.6em;
  }
  
  #frente {
    font-size: 2.9em;
    margin-top: 15px;
  }
  
  .portafolio {
    margin-left: 5.5%;
    margin-top: -110px;
  }
  
  .linea1 {
    padding: 0;
    margin-top: -130px;
  }
  
  .linea2 {
    padding: 0 0 60px;
    margin-top: 0;
  }
  
  .v_cod,
  .v_pro {
    font-size: 20px;
    padding: 1vw 4vw;
  }
  
  .portafolio img {
    height: 39vw;
    margin-top: 1.5vh;
  }
  
  .linea1 .fila {
    margin-top: 40px;
    padding: 25px;
  }
  
  .portafolio h3 {
    color: #fff;
    font-size: 28px;
  }
  
  .portafolio p {
    color: #ededed;
    font-weight: 600;
    font-size: 17px;
    text-align: justify;
  }
  
  .linea1 .fila div:nth-child(2) {
    margin-top: 20px;
  }
  
  .v_pro {
    margin: 3px 0 10px;
  }
  
  .v_cod {
    margin-left: 5vw;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .v_cod,
  .v_pro {
    font-size: 18px;
  }
  
  .linea1 .fila,
  .linea1 .fila div:nth-child(2) {
    margin-top: 40px;
  }
  
  .titulos {
    margin-top: 70px;
  }
  
  #fondo {
    font-size: 4.6em;
  }
  
  #frente {
    font-size: 2.9em;
    margin-top: 15px;
  }
  
  .portafolio {
    margin-left: 5%;
    margin-top: -110px;
  }
  
  .linea1 {
    padding: 0;
    margin-top: -130px;
  }
  
  .linea2 {
    padding: 0 0 60px;
    margin-top: 0;
  }
  
  .portafolio img {
    width: 100%;
    margin-top: 20px;
  }
  
  .portafolio h3 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 15px;
  }
  
  .portafolio p {
    color: #ededed;
    font-weight: 600;
    font-size: 17px;
    text-align: justify;
  }
  
  .v_pro {
    padding: 5px 8px;
    margin: 15px 0 0;
  }
  
  .v_cod {
    padding: 5px 9px;
    margin-left: 5vw;
  }
  
  .linea1 .fila {
    padding: 25px;
  }
  
}

@media screen and (min-width: 1201px) {
  .portafolio {
    margin-left: 12vw;
    margin-top: 140px;
  }
  
  .portafolio img {
    width: 100%;
    margin-left: -5%;
  }
  
  .portafolio h3 {
    font-size: 32px;
    color: #fff;
    text-align: start;
  }
  
  .portafolio p {
    font-size: 20px;
    margin-top: 20px;
    color: #ededed;
    font-weight: 600;
  }
  
  .linea1 {
    padding: 0;
    margin-top: -130px;
  }
  
  .linea2 {
    padding: 0 0 60px;
    margin-top: 0;
  }
  
  .v_cod,
  .v_pro {
    font-size: 20px;
    padding: 10px 30px;
  }
  
  .linea1 .fila {
    padding: 35px;
    width: 95%;
    margin-left: -50px;
  }
  
  .v_pro {
    margin: 15px 0 0;
  }
  
  .v_cod {
    margin-left: 5vw;
  }
  
}

@media screen and (min-width: 426px) and (max-width: 1023px) {
  .contacto {
    margin-left: 10%;
    margin-top: -100px;
  }
  
  .contacto p {
    text-align: left;
    font-size: 0.8em;
  }
  
  .contacto h4 {
    font-size: 1em;
  }
  
  .filas_info {
    margin-top: 10px;
  }
  
  .correo,
  .mensaje {
    margin-top: 15px;
    width: 90%;
    font-size: 17px;
  }
  
  .filas_info img {
    height: 40px;
    margin-top: 8px;
  }
  
  .redes img {
    height: 50px;
    margin-left: 0;
    margin-right: 15%;
  }
  
  .nombre_form {
    height: 40px;
    width: 90%;
    font-size: 17px;
  }
  
  .nombre_form::placeholder {
    font-size: 14px;
  }
  
  .correo:focus,
  .mensaje:focus,
  .nombre_form:focus {
    outline: #000000 solid 1px;
  }
  
  .correo {
    height: 40px;
  }
  
  .correo::placeholder {
    font-size: 14px;
  }
  
  .mensaje {
    height: 80px;
    border-radius: 15px;
  }
  
  .mensaje::placeholder {
    font-size: 14px;
  }
  
  form input {
    font-size: 14px;
  }
  
  form button {
    margin-top: 25px;
    padding: 10px 15px;
    font-size: 17px;
    margin-bottom: 30px;
  }
  
}

@media screen and (min-width: 1023px) {
  .contacto {
    margin-top: -40px;
  }
  
  .correo,
  .mensaje,
  .nombre_form {
    font-size: 20px;
  }
  
  .mensaje::placeholder {
    font-size: 18px;
  }
  
  .correo::placeholder {
    font-size: 18px;
  }
  
  .nombre_form::placeholder {
    font-size: 18px;
  }
  
}

